<%= render "shared/error_messages", object: @post %>

<%= form_for @post do |f| %>
  <div class="well">
    <div class="control-group">
      <%= f.label :title, :class => "control-label" %>
      <%= f.text_field :title, :class => "input-large" %>
    </div>

    <div class="control-group">
      <%= f.label :url, "URL", :class => "control-label" %>
      <%= f.text_field :url, :class => "input-large" %>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => "control-label" %>
      <%= f.text_area :description, :rows => 5, :class => "input-xxlarge" %>
    </div>

    <div class="control-group">
      <%= f.label :categories, :class => "control-label" %>
      <%= collection_check_boxes(:post, :category_ids, Category.all, :id, :name) do |cb| %>
        <%= cb.label(class: "checkbox inline") do %>
          <%= cb.check_box %>
          <%= cb.text %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit(@post.new_record? ? "Create Post" : "Update Post", :class => "btn btn-primary") %>
    <%= link_to "Cancel", posts_path, :class => "btn" %>
  </div>
<% end %>
