TODO: TO BE DELETED
<% if current_user %>
  <% if post.has_voted_up?(current_user) %>
    <button class="btn btn-mini disabled">
      <i class="icon-thumbs-up"></i>
    </button>
  <% else %>
    <%= link_to vote_post_path(post, vote: true), method: :post, title: 'Vote up', class: 'btn btn-mini' do %><i class="icon-thumbs-up"></i><% end %>
  <% end %>
<% end %>

<% if post.votes_total == 0 %>
  <span class="badge" title="Cumulative number of votes for this post"><%= post.votes_total %></span>
<% elsif post.votes_total > 0 %>
  <span class="badge" title="Cumulative number of votes for this post" style="background-color:darkgreen;"><%= post.votes_total %></span>
<% elsif post.votes_total < 0 %>
  <span class="badge" title="Cumulative number of votes for this post" style="background-color:maroon;"><%= post.votes_total %></span>
<% end %>

<% if current_user %>
  <% if post.has_voted_down?(current_user) %>
    <button class="btn btn-mini disabled">
      <i class="icon-thumbs-down"></i>
    </button>
  <% else %>
    <%= link_to vote_post_path(post, vote: false), method: :post, title: 'Vote down', class: 'btn btn-mini' do %><i class="icon-thumbs-down" style="color:red;"></i><% end %>
  <% end %>
<% end %>