<%= render "shared/breadcrumb", nodes: [link_to("Posts", posts_path), @post.title] %>

<% if current_user == @post.creator || current_user.admin? %>
  <%= link_to edit_post_path(@post), :class => "btn pull-right" do %>
    <i class="icon-pencil"></i> Edit post
  <% end %>
<% end %>

<%= render 'shared/content_title', title: @post.title %>

<% if @post.url && !@post.url.empty? %>
  <%= link_to safe_url(@post.url), target: :blank, :class => "btn pull-right" do %>
    <i class="icon-share"></i>
    <%= display_url(@post.url) %>
  <% end %>
<% end %>

<p><%= sanitize new_line_format(@post.description), tags: %w(br) %></p>

<div class="pull-right">
  <small>
    <span class="quiet">posted by</span> <span class="username"><%= link_to @post.creator.username, user_path(@post.creator) %></span>
    <span class="quiet">at <%= format_datetime(@post.created_at) %></span>
  </small>
</div>

<p>
  <%= render @post.categories %>
</p>

<hr/>

<% if @post.reload.comments.any? %>

  <h4>Comments</h4> <a name="comments"></a>

  <% @post.reload.comments.sort_by {|comment| comment.votes_total }.reverse.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>

  <hr/>
<% end %>

<% if logged_in? %>
  <%= render "shared/error_messages", object: @comment %>

  <%= form_for [@post, @comment] do |f| %>
    <div class="control-group">
      <%= f.label :body, "Add a comment" %>
      <%= f.text_area :body, :class => "form-control span4", :rows => 3 %>
    </div>
    <%= f.submit "Save", :class => "btn" %>
  <% end %>
<% end %>