<p><%= render @post.categories %></p>

<%= render 'shared/content_title', title: @post.title %>

<p><%= @post.description %></p>

<hr/>

<p>Creator: <%= @post.creator.username %></p>

<hr/>

<%= link_to edit_post_path(@post), :class => "btn" do %>
  <i class="icon-pencil"></i> Edit post
<% end %>
