<%= render "shared/breadcrumb", nodes: [link_to("Posts", posts_path), @post.title] %>

<p><%= render @post.categories %></p>

<%= link_to edit_post_path(@post), :class => "btn pull-right" do %>
  <i class="icon-pencil"></i> Edit post
<% end %>

<%= render 'shared/content_title', title: @post.title %>

<p><%= @post.description %></p>

<hr/>

<h4>Comments</h4>

<% @post.comments.each do |comment| %>
  <blockquote>
    <p><%= comment.body %></p>
    <small><%= comment.creator.username %> at <%= comment.created_at %></small>
  </blockquote>
<% end %>

<hr/>

<%= render "shared/error_messages", object: @comment %>
<%= form_for [@post, @comment] do |f| %>
  <div class="control-group">
    <%= f.label :body, "Add a comment" %>
    <%= f.text_area :body, :class => "form-control span4", :rows => 3 %>
  </div>
  <%= f.submit "Save", :class => "btn" %>
<% end %>
