<%= render 'shared/content_title', title: "New Category" %>

<%= render "shared/error_messages", object: @category %>

<%= form_for @category do |f| %>
  <div class="well">
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="form-actions">
      <%= f.button "Save", :type => "submit", :class => "btn btn-primary" %>
      <%= link_to "Cancel", posts_path, :class => "btn" %>
  </div>
<% end %>