<% if current_user %>
  <% if voteable.has_voted_up?(current_user) %>
    <button class="btn btn-mini disabled">
      <i class="icon-thumbs-up"></i>
    </button>
  <% elsif voteable.is_a?(Post) %>
    <%= link_to vote_post_path(voteable, vote: true), method: :post, title: 'Vote up', class: 'btn btn-mini' do %><i class="icon-thumbs-up"></i><% end %>
  <% elsif voteable.is_a?(Comment) %>
    <%= link_to vote_post_comment_path(voteable.post, voteable, vote: true), method: :post, title: 'Vote up', class: 'btn btn-mini' do %><i class="icon-thumbs-up"></i><% end %>
  <% end %>
<% end %>

<% if voteable.votes_total == 0 %>
  <span class="badge" title="Cumulative number of votes for this #{voteable.class.name.downcase}"><%= voteable.votes_total %></span>
<% elsif voteable.votes_total > 0 %>
  <span class="badge" title="Cumulative number of votes for this #{voteable.class.name.downcase}" style="background-color:darkgreen;"><%= voteable.votes_total %></span>
<% elsif voteable.votes_total < 0 %>
  <span class="badge" title="Cumulative number of votes for this #{voteable.class.name.downcase}" style="background-color:maroon;"><%= voteable.votes_total %></span>
<% end %>

<% if current_user %>
  <% if voteable.has_voted_down?(current_user) %>
    <button class="btn btn-mini disabled">
      <i class="icon-thumbs-down"></i>
    </button>
  <% elsif voteable.is_a?(Post) %>
    <%= link_to vote_post_path(voteable, vote: false), method: :post, title: 'Vote down', class: 'btn btn-mini' do %><i class="icon-thumbs-down" style="color:red;"></i><% end %>
  <% elsif voteable.is_a?(Comment) %>
    <%= link_to vote_post_comment_path(voteable.post, voteable, vote: false), method: :post, title: 'Vote down', class: 'btn btn-mini' do %><i class="icon-thumbs-down"></i><% end %>
  <% end %>
<% end %>